body {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --btn-hover: rgb(113, 113, 240);
  --item-bg: rgb(197, 195, 195);
  --item-bg-hover: rgb(147, 146, 146);
  --modal-bg: rgb(220, 217, 217);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add_button {
  border-radius: 50px;
  background-color: transparent;
  color: black;
  padding: 16px;
  border: 1px solid rgb(155, 155, 237);
  cursor: pointer;
}
.add_button:hover {
  background-color: var(--btn-hover);
}
.employees {
  display: flex;
}
.employees > div {
  border: 1px solid black;
  overflow-y: scroll;
  height: 450px;
}
.employe_name {
  width: 30%;
}
.employe_single {
  width: 70%;
}

.employe_name,
.employe_single {
  display: flex;
  padding: 10px;
  flex-direction: column;
}
.employee_single--title,
.employee_name--title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.employee_name--list {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.employee_name--item {
  padding: 10px;
  background-color: var(--item-bg);
  border-bottom: 1px solid rgb(211, 211, 211);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.employee_name--item:hover,
.selected {
  background-color: var(--item-bg-hover);
}
